{# templates/game.jinja #}

<!DOCTYPE html>
<html>

<head>
    <title>
        ./play.it - {{name}}
    </title>
    <link rel="stylesheet" href="test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main_container">
        <div class="game_summary" id="Game_summary">
            <div>
                <img class="game_image" src={{cover}}>
            </div>
            <div class="summary_container">
                <div class="game_rating">
                    {% if rating is defined %}
                    {{ rating }} %
                    {% else %}
                    -- %
                    {% endif %}
                </div>
                <div class="game_platform">

                    <ul>
                        {%- for plat in platforms %}
                        <li>{{ plat -}}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div>
            Tags: 
                {%- for t in themes %}
                {{t}}
                {% endfor %} <br>
            Realese: {{ first_release_date }}
            </div>
        </div>

        <div class="game_instalation">
            <h1>{{name}}</h1>
            <div class="game_description">
                <h2>Description</h2>
                {{summary}}
                {% if storyline is defined%}
                <h2>Synopsys</h2>
                {{ storyline }}
                {% endif %}
                <h2>Instalation</h2>
                Script version: {{script["script_version"]}} <br>
                Script name: {{script["script_name"]}} <br>
                Target:
                    <ul>
                    {%- for file in script["file"] %}
                        <li>{{ file -}}</li>
                        {% endfor %}
                    </ul>
            </div>

        </div>
    </div>
    <div class="gallery_container">
        <h2>Capture d'écran</h2>
        <div style="grid-template-columns: repeat({{gellerySize}}, 1fr);" class="gallery">
            {%- for screen in screenshots %}
            <img src={{ screen -}}>
            {% endfor %}
        </div>
    </div>
</body>

</html>