{# templates/game.jinja #}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        ./play.it - {{name}}
    </title>
    <link rel="stylesheet" href="test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main_container">
        <div class="game_summary" id="Game_summary">
            <div>
                <img class="game_image" src={{cover}}>
            </div>
            <div class="summary_container">
                <div class="game_rating">
                    {% if rating is defined %}
                    {{ rating }} %
                    {% else %}
                    -- %
                    {% endif %}
                </div>
                <div class="game_platform">

                    <ul>
                        {%- for plat in platforms %}
                        <li>{{ plat -}}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div>
                Tags:
                {%- for t in themes %}
                {{t}}
                {% endfor %} <br>
                Release: {{ first_release_date }}
            </div>
        </div>

        <div class="game_instalation">
            <h1>{{name}}</h1>
            <div class="game_description">
                <h2>Description</h2>
                {{summary}}
                {% if storyline is defined%}
                <h2>Synopsys</h2>
                {{ storyline }}
                {% endif %}
                <h2>Installation</h2>
                <h3>Script Information</h3>
                Script version: {{script["script_version"]}} <br>
                Script name: {{script["script_name"]}} <br>
                Target:
                <ul>
                    {%- for file in script["file"] %}
                    <li>{{ file -}}</li>
                    {% endfor %}
                </ul>
                Dependencies: Not implemented

                <h3>Usage</h3>
                <ol>
                    <li>
                        Install Dependencies
                        <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                            <li>Arch Linux:<br><code># pacman -S dependencies</code></li>
                            <li>Debian:<br><code># apt install dependencies</code></li>
                        </ol>
                    </li>
                    <li>
                        Put in the same directory the scripts and the archive:
                        <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                            {%- for file in script["file"] %}
                            <li>
                                <code>$ ls</code> <br> 
                                <code>
                                    {{ file -}}<br>
                                    libplayit2.sh<br>
                                    {{script["script_name"]}}<br>
                                </code>
                            </li>
                            {% endfor %}
                        </ol>
                    </li>
                    <li>
                        Start the building process from this directory:<br>
                        <code>$ ./{{script["script_name"]}}</code>
                    </li>
                    <li>
                        Wait a couple minutes, the building will end by giving you the commands to launch as root to install the game. It should be something similar to:
                        <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                            <li>Arch Linux:<br><code># pacman -U /some/path/to/game_package.pkg.tar</code></li>
                            <li>Debian:<br><code># dpkg -i /some/path/to/game_package.deb<br># apt-get install -f</code></li>
                        </ol>
                    </li>

                </ol>
            </div>

        </div>
    </div>
    <div class="gallery_container">
        <h2>Capture d'écran</h2>
        <div style="grid-template-columns: repeat({{gellerySize}}, 1fr);" class="gallery">
            {%- for screen in screenshots %}
            <img src={{ screen -}}>
            {% endfor %}
        </div>
    </div>
</body>

</html>