<head>
    <title>
        ./play.it - Index
    </title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Index</h1>
    <div class="cards">
        {%- for game in games %}
        <div class="card">
            <a href={{ game['link'] }}><img src={{ game['cover'] }} alt="{{ game['name'] }}"></a>
        </div>
        {% endfor %}
    </div>
</body>

</html>